<div class="w-full h-full flex justify-center items-center">
    <div class="form-container grid grid-cols-2 rounded-xl shadow-gray-500 shadow-2xl w-[900px] h-[700px] bg-[#121212]">
        <div class="left-side  flex justify-center items-center ">
            <img class="w-50 h-50 p-8" src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Example_image.svg" alt="">
        </div>
        <div class="right-side flex justify-center items-center m-5 gap-5 " >
            <div class="h-full flex flex-col items-center p-4 gap-5 ">
                    <div>
                        <h1 class="text-white text-4xl mt-10 mb-3"> Log In </h1>
                        <p class="text-gray-300 text-xs text-opacity-75 w-60">!Hola de Vuelta¡ Nos alegra verte otra vez.</p>
                    </div>
                    <div class="w-full">
                        <form class="flex flex-col justify-center w-full mt-16 h-32 gap-3">
                            <label  class="text-white text-opacity-75 " for="email"> Email </label>
                            <input class=" px-4 py-2 bg-black text-white border border-white border-opacity-75 text-opacity-75 rounded-2xl  outline-none bg-transparent caret-transparent" type="email">
                            <label  class="text-white text-opacity-75  " for="email"> Password </label>
                            <input class=" px-4 py-2 bg-black text-white border border-white border-opacity-75 text-opacity-75 rounded-2xl  outline-none bg-transparent caret-transparent" type="password">
                            <button class="p-3 bg-white text-slate-950 rounded-3xl"> Log In </button>
                        </form>
                        
                    </div>
            </div>
            
        </div>
    </div>

</div>